.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


/public/qr_code/*.jpg
/public/qr_code/*.jpeg
/public/qr_code/*.png
/public/qr_code/*.gif
!/public/qr_code/*.txt

/public/*.txt

/public/cpe_sunat/*.zip
/public/cpe_sunat/*

/assets/key/*.key
/assets/key/*.pem
/assets/key/*.crt
/assets/key/*.pfx

/assets/uploads/calibracion_tanque/*.jpg
/assets/uploads/calibracion_tanque/*.jpeg
/assets/uploads/calibracion_tanque/*.png
/assets/uploads/calibracion_tanque/*.gif
!/assets/uploads/calibracion_tanque/*.txt


application/config/config.php
application/config/database.php
